h1 {
    font-family: $fontBold;
    @include rem(font-size, 2);
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0;
}

.opacity {
    opacity: 0.4;
}

@media #{$breakpointSmall} {
    h1 {
        @include rem(font-size, 1.5);
    } 
}

@media #{$breakpointMedium} {
    @include desktopParagraph();

    h1 {
        @include rem(font-size, 2);
    } 
}