h1, h2, h3 {
    font-family: $fontBold;
    @include rem(font-size, 2);
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0;
}

.opacity {
    opacity: 0.4;
}

.list {
    list-style: inherit;
    margin-left: 23px;
    @include rem(font-size, 1);
    @include rem(line-height, 1.3);
}

button {
    border-radius: 17px;
    @include rem(font-size, 1.3);
    padding: 4px 28px;
    color: #fff;
    margin-top: 20px;
    border-style: none;
}

@media #{$breakpointSmall} {
    h1 {
        @include rem(font-size, 1.5);
    } 
}

@media #{$breakpointMedium} {
    @include desktopParagraph();

    h1 {
        @include rem(font-size, 2);
    } 
}