h1 {
    font-family: $fontBold;
    @include rem(font-size, 2);
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0;
}

p {
    margin-bottom: 10px;
    @include rem(font-size, 1);
    @include rem(line-height, 1.2);
}

.opacity {
    opacity: 0.4;
}

@media #{$breakpoint-small} {
    h1 {
        @include rem(font-size, 1.5);
    } 
}

@media #{$breakpoint-medium} {
    h1 {
        @include rem(font-size, 2);
    } 
}