// typography
$fontLight:   'AleoLight', 'Roboto Slab';
$fontRegular: 'AleoRegular', 'Roboto Slab';
$fontBold:    'AleoBold', 'Roboto Slab';

// colors
$black:        #231f20;
$blue:         #2e3192;
$blueLigher:   #cbe2f6;
$blueDarker:   #b0c6ea;
$blueDarkest:  #2c3792;
$yellow:       #fff53a;
$green:        #6bc62e;
$greenDarker:  #40bb6a;

// grid variables
$gridColumns: 12;
$gridMaxWidth: 65em;
 
// breakpoints
$breakpointSmall:  "only screen and (min-width: 0em)";
$breakpointMedium: "only screen and (min-width: 30em)";

body {
	font-family: $fontRegular;
	color: $black;
}

body > section {
	opacity: 1;
}

img {
	max-width: 100%;
}

strong {
	font-family: $fontBold;
}

a {
	text-decoration: none;
	color: $black;
}