/* Mobile */
$mobileMenuWidth: 15;
$hamburgerSpanTop: 0.875;
@media #{$breakpoint-small} {
    section {
        position: relative;
    }

    .header {
        &__menu {
            @include rem(left, $mobileMenuWidth * -1);
            position: fixed;


            &__item {
                &--lang a {
                    color: $blue;
                    border: 1px solid $blue;
                    padding: 2px;
                }

                &--facebook img {
                    width: 22px;
                }
            }

            &--open {
                background: #fff;
                @include rem(width, $mobileMenuWidth);
                @include rem(height, $mobileMenuWidth * 2);

                .header__menu__item {
                    width: 100%;
                    text-align: center;
                    @include rem(line-height, 2.3);
                    text-transform: uppercase;

                    &--has-submenu {
                        &:before {
                            content: "";
                            position: absolute;
                            top: 14px;
                            left: 33px;
                            width: 0;
                            height: 0;
                            margin-left: 4px;
                            @include transition(0.2);
                            @include transform(0);
                            vertical-align: middle;
                            border-top: 4px solid;
                            border-right: 4px solid transparent;
                            border-left: 4px solid transparent;
                        }

                        span {
                            display: inline-block;
                            width: 100%;
                        }
                    }

                    &--has-open-submenu {
                        &:before {
                            @include transform(180);
                        }
                    }
                }
            }

            &__submenu {
                display: none;

                &--show {
                    display: block;
                    background-color: $yellow;
                }

                li {
                    @include rem(line-height, 1.5);
                }
            }
        }

        &__hamburger {
            z-index: 100;
            width: 50px;
            height: 45px;
            position: fixed;
            @include transform(0);
            @include transition(0.5);
            cursor: pointer;

            span {
                display: block;
                position: absolute;
                height: 5px;
                width: 100%;
                background: $black;
                opacity: 1;
                left: 0;
                @include transform(0);
                @include transition(0.25);

                &:nth-child(1) {
                    top: 0px;
                }

                &:nth-child(2),
                &:nth-child(3) {
                    @include rem(top, $hamburgerSpanTop);
                }

                &:nth-child(4) {
                    @include rem(top, $hamburgerSpanTop * 2);
                }
            }

            &.header__hamburger--open {
                span {
                    &:nth-child(1),
                    &:nth-child(4) {
                        @include rem(top, $hamburgerSpanTop);
                        width: 0%;
                        left: 50%;
                    }

                    &:nth-child(2) {
                        @include transform(45);
                    }

                    &:nth-child(3) {
                        @include transform(-45);
                    }
                }

            }
        }
    }
}

/* Desktop */
@media #{$breakpoint-medium} {
    .header {
        &__hamburger {
            display: none;
        }

        &__menu {
            position: static;
            width: 100%;
            height: 50px;
            text-align: center;
            background: #fff;
            top: 0;
            left: 0 !important;
            padding-top: 54px;

            &--sticky {
                position: fixed;
                padding: 15px 0;
                z-index: 10;
            }

            &__item {
                z-index: 10;
                display: inline-block;
                vertical-align: top;
                margin-right: 1px;
                position: relative;

                &--highlighted {
                    font-weight: bold;
                }

                a, span {
                    color: $black;
                    display: block;
                    @include rem(font-size, 1);
                    padding: 0 19px;
                    text-align: center;
                }
            }

            &__submenu {
                background: #fff;
                position: absolute;
                left: -40px;
                top: 15px;
                padding-top: 20px;
            }
        }
    }
}