/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "AleoLight";
  src: url("../fonts/aleo/AleoLight.eot");
  src: url("../fonts/aleo/AleoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo/AleoLight.woff") format("woff"), url("../fonts/aleo/AleoLight.woff2") format("woff2"), url("../fonts/aleo/AleoLight.ttf") format("truetype"), url("../fonts/aleo/AleoLight.svg#AleoLight") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "AleoRegular";
  src: url("../fonts/aleo/AleoRegular.eot");
  src: url("../fonts/aleo/AleoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo/AleoRegular.woff") format("woff"), url("../fonts/aleo/AleoRegular.woff2") format("woff2"), url("../fonts/aleo/AleoRegular.ttf") format("truetype"), url("../fonts/aleo/AleoRegular.svg#AleoRegular") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "AleoBold";
  src: url("../fonts/aleo/AleoBold.eot");
  src: url("../fonts/aleo/AleoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo/AleoBold.woff") format("woff"), url("../fonts/aleo/AleoBold.woff2") format("woff2"), url("../fonts/aleo/AleoBold.ttf") format("truetype"), url("../fonts/aleo/AleoBold.svg#AleoBold") format("svg");
  font-style: normal;
  font-weight: normal; }

body {
  font-family: "AleoRegular", "Roboto Slab";
  color: #231f20; }

body > section {
  opacity: 1; }

img {
  max-width: 100%; }

strong {
  font-family: "AleoBold", "Roboto Slab"; }

a {
  text-decoration: none;
  color: #231f20; }

/* Mobile */
@media only screen and (min-width: 0em) {
  .hide-mobile {
    display: none; } }

/* Desktop */
@media only screen and (min-width: 30em) {
  .hide-mobile {
    display: inherit; } }

*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img {
  width: auto;
  max-width: 100%;
  height: auto !important; }

.wrapper {
  width: 100%;
  margin: 0 auto; }

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px; }

@media only screen and (min-width: 30em) {
  .wrapper {
    width: 95%;
    max-width: 65em; }
  .column-1 {
    width: 8.33333%; }
  .column-2 {
    width: 16.66667%; }
  .column-3 {
    width: 25%; }
  .column-4 {
    width: 33.33333%; }
  .column-5 {
    width: 41.66667%; }
  .column-6 {
    width: 50%; }
  .column-7 {
    width: 58.33333%; }
  .column-8 {
    width: 66.66667%; }
  .column-9 {
    width: 75%; }
  .column-10 {
    width: 83.33333%; }
  .column-11 {
    width: 91.66667%; }
  .column-12 {
    width: 100%; } }

@media only screen and (min-width: 0em) {
  .column-1-mobile {
    width: 8.33333%; }
  .column-2-mobile {
    width: 16.66667%; }
  .column-3-mobile {
    width: 25%; }
  .column-4-mobile {
    width: 33.33333%; }
  .column-5-mobile {
    width: 41.66667%; }
  .column-6-mobile {
    width: 50%; }
  .column-7-mobile {
    width: 58.33333%; }
  .column-8-mobile {
    width: 66.66667%; }
  .column-9-mobile {
    width: 75%; }
  .column-10-mobile {
    width: 83.33333%; }
  .column-11-mobile {
    width: 91.66667%; }
  .column-12-mobile {
    width: 100%; } }

.wrapper, .row {
  *zoom: 1; }
  .wrapper:before, .row:before, .wrapper:after, .row:after {
    content: " ";
    display: table; }
  .wrapper:after, .row:after {
    clear: both; }

.column-center {
  margin: 0 auto;
  float: none !important; }

h1, h2, h3 {
  font-family: "AleoBold", "Roboto Slab";
  font-size: 32px;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0; }

.text-center {
  text-align: center; }

.opacity {
  opacity: 0.4; }

.list {
  list-style: inherit;
  margin-left: 23px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 20.8px;
  line-height: 1.3rem; }

button {
  border-radius: 17px;
  font-size: 20.8px;
  font-size: 1.3rem;
  padding: 4px 28px;
  color: #fff;
  margin-top: 20px;
  border-style: none; }

@media only screen and (min-width: 0em) {
  h1 {
    font-size: 24px;
    font-size: 1.5rem; } }

@media only screen and (min-width: 30em) {
  p {
    margin-bottom: 10px;
    font-size: 16px;
    font-size: 1rem;
    line-height: 20.8px;
    line-height: 1.3rem; }
  h1 {
    font-size: 32px;
    font-size: 2rem; } }

/* Mobile */
@media only screen and (min-width: 0em) {
  section {
    position: relative; }
  .header {
    position: fixed;
    width: 100%;
    z-index: 10; }
    .header__menu {
      left: -240px;
      left: -15rem;
      position: fixed; }
      .header__menu__item--lang a {
        color: #2e3192;
        border: 1px solid #2e3192;
        padding: 2px; }
      .header__menu__item--facebook {
        margin-top: -5px; }
        .header__menu__item--facebook img {
          width: 22px; }
      .header__menu--open {
        background: #fff;
        width: 240px;
        width: 15rem;
        height: 480px;
        height: 30rem; }
        .header__menu--open .header__menu__item {
          width: 100%;
          text-align: center;
          line-height: 36.8px;
          line-height: 2.3rem;
          text-transform: uppercase; }
          .header__menu--open .header__menu__item--has-submenu:before {
            content: "";
            position: absolute;
            top: 14px;
            left: 33px;
            width: 0;
            height: 0;
            margin-left: 4px;
            transition: 0.2s ease-in-out;
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            vertical-align: middle;
            border-top: 4px solid;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent; }
          .header__menu--open .header__menu__item--has-submenu span {
            display: inline-block;
            width: 100%; }
          .header__menu--open .header__menu__item--has-open-submenu:before {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
      .header__menu__submenu {
        display: none; }
        .header__menu__submenu--show {
          display: block;
          background-color: #fff53a; }
        .header__menu__submenu li {
          line-height: 24px;
          line-height: 1.5rem; }
    .header__hamburger {
      z-index: 100;
      width: 50px;
      height: 45px;
      position: fixed;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      transition: 0.5s ease-in-out;
      cursor: pointer; }
      .header__hamburger span {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: #231f20;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        transition: 0.25s ease-in-out; }
        .header__hamburger span:nth-child(1) {
          top: 0px; }
        .header__hamburger span:nth-child(2), .header__hamburger span:nth-child(3) {
          top: 14px;
          top: 0.875rem; }
        .header__hamburger span:nth-child(4) {
          top: 28px;
          top: 1.75rem; }
      .header__hamburger.header__hamburger--open span:nth-child(1), .header__hamburger.header__hamburger--open span:nth-child(4) {
        top: 14px;
        top: 0.875rem;
        width: 0%;
        left: 50%; }
      .header__hamburger.header__hamburger--open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
      .header__hamburger.header__hamburger--open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }
    .header .active, .header .highlighted {
      font-family: "AleoBold", "Roboto Slab"; } }

/* Desktop */
@media only screen and (min-width: 30em) {
  .header__hamburger {
    display: none; }
  .header__menu {
    position: fixed;
    width: 100%;
    height: 39px;
    text-align: center;
    background: #fff;
    top: 0;
    left: 0 !important;
    padding: 15px 0;
    z-index: 10; }
    .header__menu__item {
      z-index: 10;
      display: inline-block;
      vertical-align: top;
      margin-right: 1px;
      position: relative; }
      .header__menu__item a, .header__menu__item span {
        color: #231f20;
        display: block;
        font-size: 16px;
        font-size: 1rem;
        padding: 0 19px;
        text-align: center;
        cursor: pointer; }
    .header__menu__submenu {
      background: #fff;
      position: absolute;
      left: -40px;
      top: 15px;
      padding-top: 20px; } }

/* Mobile */
@media only screen and (min-width: 0em) {
  .modal {
    display: none;
    position: fixed;
    padding-top: 65px;
    padding-bottom: 17px;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4); }
    .modal__click {
      background-color: #cbe2f6;
      color: #000;
      cursor: pointer; }
      .modal__click:focus {
        outline: 0; }
    .modal__content {
      background-color: #fff;
      margin: auto;
      padding: 0;
      width: 90%;
      max-width: 70em; }
    .modal__close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-size: 1.75rem;
      font-family: "AleoBold", "Roboto Slab"; }
      .modal__close:hover, .modal__close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer; } }

/* Desktop */
@media only screen and (min-width: 30em) {
  .modal {
    padding-top: 100px; }
    .modal__content {
      padding: 20px; } }

.select {
  overflow: hidden;
  border-radius: 18px;
  border: 1px solid #000; }

.select select {
  background: transparent;
  color: #000;
  border: none;
  height: 25px; }

/* Sections */
/* Mobile */
@media only screen and (min-width: 0em) {
  .first {
    text-align: center; }
    .first__header {
      margin-top: 60px; }
    .first__content {
      margin-top: -24px;
      background-color: #fff53a;
      height: 100%; }
      .first__content h1 {
        line-height: 44px;
        line-height: 2.75rem;
        padding-top: 62px;
        text-transform: none; }
    .first .fp-scroller {
      height: 100%; }
    .first .fp-tableCell {
      vertical-align: top; } }

/* Mobile */
@media only screen and (min-width: 0em) {
  .why {
    background: #fff; }
    .why .fp-tableCell {
      vertical-align: top; }
    .why__content h2 {
      font-size: 19.2px;
      font-size: 1.2rem;
      margin-top: -10px;
      margin-bottom: 20px; }
    .why__content ul {
      line-height: 23.2px;
      line-height: 1.45rem; }
      .why__content ul a {
        border-bottom: 1px dashed; } }

/* Desktop */
@media only screen and (min-width: 30em) {
  .why__header {
    margin-top: 0px; }
  .why__content p {
    margin-bottom: 10px;
    font-size: 16px;
    font-size: 1rem;
    line-height: 20.8px;
    line-height: 1.3rem; }
  .why__content h2 {
    margin-top: -30px; } }

/* More than image header width */
@media only screen and (min-width: 1094px) {
  .why {
    text-align: center;
    position: relative; }
    .why__background {
      width: 100%;
      height: 250px;
      background-color: #fff53a; }
    .why__content h2, .why__content ul {
      text-align: left; }
    .why__header {
      margin-top: -209px; } }

/* Mobile */
@media only screen and (min-width: 0em) {
  .mission {
    margin-top: -10px;
    background: #cbe2f6 url("../images/mission_header.png") repeat-x top center; }
    .mission__img {
      margin-top: 93px; }
    .mission__content h2 {
      margin-top: 0; } }

/* Desktop */
@media only screen and (min-width: 30em) {
  .mission {
    margin-top: 39px; }
    .mission__content {
      margin-top: 93px; } }

/* Mobile */
@media only screen and (min-width: 0em) {
  .team {
    width: 50%;
    margin: 0 auto; }
    .team p {
      margin-bottom: 10px;
      line-height: 19.2px;
      line-height: 1.2rem; } }

/* Mobile */
@media only screen and (min-width: 0em) {
  .security {
    background: #fff53a url("../images/security_header.png") repeat-x top center;
    margin-top: 10px; }
    .security h2 {
      margin-top: 0; }
    .security .row > div {
      padding-bottom: 0;
      padding-top: 0; }
    .security ol {
      list-style-type: decimal; }
      .security ol li {
        line-height: 17.6px;
        line-height: 1.1rem;
        margin-left: 15px;
        margin-bottom: 8px; } }

/* Desktop */
@media only screen and (min-width: 30em) {
  .security {
    margin-top: 39px; } }

/* Mobile */
@media only screen and (min-width: 0em) {
  .partners {
    padding-bottom: 10%;
    margin-top: 10px; }
    .partners h3 {
      text-align: center; }
    .partners__item img {
      display: block;
      margin-bottom: 20px;
      margin-top: 60px; }
    .partners__item span {
      width: 150px;
      display: block; } }

/* Desktop */
@media only screen and (min-width: 30em) {
  .partners h3 {
    text-align: left; } }

/* Mobile */
@media only screen and (min-width: 0em) {
  .offer__background__header {
    height: 68px;
    background-color: #40bb6a; }
  .offer__footer {
    height: 85%; }
    .offer__footer img {
      height: 100% !important;
      margin: -4px 0; }
  .offer.active {
    position: relative; }
  .offer .fp-scroller {
    height: 100%; }
  .offer .wrapper {
    height: 100%;
    position: relative; }
  .offer .row.content {
    min-height: 500px;
    display: table;
    position: absolute;
    top: 0;
    width: 100%; }
    .offer .row.content div {
      padding: 140px 1.5em 1.5em;
      vertical-align: middle;
      display: table-cell;
      text-align: center; }
      .offer .row.content div ul, .offer .row.content div p {
        text-align: left;
        font-size: 14px; }
      .offer .row.content div ul {
        list-style: disc; }
        .offer .row.content div ul li {
          margin: 0 0 9px 18px;
          line-height: 19px; }
  #order .modal__content {
    height: 850px; }
  #order .order__header {
    padding: 0px 16px;
    padding: 0rem 1rem; }
    #order .order__header h1 {
      display: inline;
      float: left;
      text-align: left;
      margin-top: 10px;
      margin-bottom: 0; }
  #order .order__row {
    padding-bottom: 0.3rem; }
    #order .order__row label, #order .order__row input, #order .order__row textarea, #order .order__row select {
      border-radius: 18px;
      display: inline-block;
      width: 100%; }
    #order .order__row.column-2 {
      clear: both; }
    #order .order__row.column-12 {
      text-align: right;
      padding: 0px 16px;
      padding: 0rem 1rem; }
      #order .order__row.column-12 input {
        background-color: #fff200;
        font-family: "AleoRegular", "Roboto Slab";
        font-size: 16px;
        width: 100px;
        border-width: 0; }
    #order .order__row label {
      background-color: #fff200;
      text-align: center;
      padding: 7px 0; }
    #order .order__row input, #order .order__row textarea, #order .order__row select {
      outline: none;
      border-color: #000;
      border-width: 1px;
      padding: 6px 10px; }
    #order .order__row textarea {
      height: 110px;
      resize: none; } }

/* Desktop */
@media only screen and (min-width: 30em) {
  .offer__background__header {
    height: 250px; }
  .offer .row.content div {
    padding: 1.0em; }
  #order .modal__content {
    height: 475px; }
  #order .order__header h1 {
    margin-top: 0;
    margin-bottom: 20px; }
  #order .order__row img {
    padding-top: 36px;
    margin-bottom: -19px; } }

/* Mobile */
@media only screen and (min-width: 0em) {
  .english-nanny__header {
    height: 100px !important;
    margin-bottom: 28px; }
  .english-nanny__background {
    content: url("../images/english_nanny_background_mobile.png"); }
  .english-nanny .wrapper {
    position: relative; }
  .english-nanny .row {
    position: absolute;
    top: 0;
    width: 100%; }
    .english-nanny .row h1 {
      text-align: right;
      padding-right: 13px; }
    .english-nanny .row p {
      padding: 0 20px; }
  .english-nanny .fp-tableCell {
    vertical-align: top; } }

/* Desktop */
@media only screen and (min-width: 30em) {
  .english-nanny__background {
    content: url("../images/english_nanny_background.png"); }
  .english-nanny .row div {
    padding-left: 67px;
    padding-top: 71px; }
  .english-nanny .row h1 {
    text-align: center;
    padding-right: 0; } }

/* Mobile */
@media only screen and (min-width: 0em) {
  .price {
    background: #b0c6ea url("../images/price_header.png") repeat-x top center;
    margin-top: 46px; }
    .price .row {
      position: relative; }
      .price .row h1 {
        margin-top: 0; }
      .price .row small {
        font-size: 12.8px;
        font-size: 0.8rem; }
    .price__item {
      font-size: 22.8px;
      font-size: 1.425rem;
      line-height: 30px;
      line-height: 1.875rem; }
      .price__item--small {
        font-size: 12.8px;
        font-size: 0.8rem;
        line-height: 12.8px;
        line-height: 0.8rem;
        margin-top: 8px; }
      .price__item:last-child {
        margin-bottom: 12px;
        line-height: 13px; }
      .price__item span:first-child {
        float: left; }
      .price__item span:last-child {
        text-align: right;
        display: block; }
    .price__header {
      position: absolute; }
      .price__header--left {
        left: -150px;
        top: -100px; }
      .price__header--right {
        display: none; } }

/* Desktop */
@media only screen and (min-width: 30em) {
  .price__header--right {
    right: 10px;
    top: -66px;
    display: block; }
  .price .wrapper {
    padding-top: 40px; }
  .price .row small {
    line-height: 12.8px;
    line-height: 0.8rem; } }

/* Mobile */
@media only screen and (min-width: 0em) {
  .carrier {
    padding-top: 300px; }
    .carrier h1 {
      text-align: left; }
    .carrier__footer {
      height: 100%;
      background-color: #6bc62e;
      margin-top: -2px; }
    .carrier .row > div {
      padding-bottom: 0; } }

/* Mozzila only */
@-moz-document url-prefix() {
  .carrier {
    padding-top: 100px; } }

/* Mobile */
@media only screen and (min-width: 0em) {
  .contact {
    padding-top: 230px;
    background: #fff; }
    .contact__header {
      text-align: left; }
    .contact__footer {
      height: 100%;
      max-height: 300px;
      background-color: #40bb6a;
      margin-top: -32px;
      margin-top: -2rem; }
    .contact .row > div {
      padding-bottom: 0; } }

/* Desktop */
@media only screen and (min-width: 30em) {
  .contact__header {
    margin-top: 50px; }
  .contact__hours {
    font-family: "AleoBold", "Roboto Slab"; }
  .contact__details {
    font-size: 22.8px;
    font-size: 1.425rem;
    line-height: 30px;
    line-height: 1.875rem; }
  .contact__footer {
    max-height: 100%;
    margin-top: -115px; } }

/* Less than image footer width */
@media only screen and (max-width: 1200px) {
  .contact .wrapper {
    max-width: 100%;
    width: 100%; } }
