/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "AleoLight";
  src: url("../fonts/aleo/AleoLight.eot");
  src: url("../fonts/aleo/AleoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo/AleoLight.woff") format("woff"), url("../fonts/aleo/AleoLight.woff2") format("woff2"), url("../fonts/aleo/AleoLight.ttf") format("truetype"), url("../fonts/aleo/AleoLight.svg#AleoLight") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "AleoRegular";
  src: url("../fonts/aleo/AleoRegular.eot");
  src: url("../fonts/aleo/AleoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo/AleoRegular.woff") format("woff"), url("../fonts/aleo/AleoRegular.woff2") format("woff2"), url("../fonts/aleo/AleoRegular.ttf") format("truetype"), url("../fonts/aleo/AleoRegular.svg#AleoRegular") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "AleoBold";
  src: url("../fonts/aleo/AleoBold.eot");
  src: url("../fonts/aleo/AleoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo/AleoBold.woff") format("woff"), url("../fonts/aleo/AleoBold.woff2") format("woff2"), url("../fonts/aleo/AleoBold.ttf") format("truetype"), url("../fonts/aleo/AleoBold.svg#AleoBold") format("svg");
  font-style: normal;
  font-weight: normal; }

body {
  font-family: "AleoRegular", "Roboto Slab";
  color: #231f20; }

img {
  max-width: 100%; }

strong {
  font-family: "AleoBold", "Roboto Slab"; }

a {
  text-decoration: none;
  color: #231f20; }

*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img {
  width: auto;
  max-width: 100%;
  height: auto !important; }

.wrapper {
  width: 100%;
  margin: 0 auto; }

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px; }

@media only screen and (min-width: 30em) {
  .wrapper {
    width: 95%;
    max-width: 65em; }
  .column-1 {
    width: 8.33333%; }
  .column-2 {
    width: 16.66667%; }
  .column-3 {
    width: 25%; }
  .column-4 {
    width: 33.33333%; }
  .column-5 {
    width: 41.66667%; }
  .column-6 {
    width: 50%; }
  .column-7 {
    width: 58.33333%; }
  .column-8 {
    width: 66.66667%; }
  .column-9 {
    width: 75%; }
  .column-10 {
    width: 83.33333%; }
  .column-11 {
    width: 91.66667%; }
  .column-12 {
    width: 100%; } }

@media only screen and (min-width: 20em) {
  .column-1-mobile {
    width: 8.33333%; }
  .column-2-mobile {
    width: 16.66667%; }
  .column-3-mobile {
    width: 25%; }
  .column-4-mobile {
    width: 33.33333%; }
  .column-5-mobile {
    width: 41.66667%; }
  .column-6-mobile {
    width: 50%; }
  .column-7-mobile {
    width: 58.33333%; }
  .column-8-mobile {
    width: 66.66667%; }
  .column-9-mobile {
    width: 75%; }
  .column-10-mobile {
    width: 83.33333%; }
  .column-11-mobile {
    width: 91.66667%; }
  .column-12-mobile {
    width: 100%; } }

.wrapper, .row {
  *zoom: 1; }
  .wrapper:before, .row:before, .wrapper:after, .row:after {
    content: " ";
    display: table; }
  .wrapper:after, .row:after {
    clear: both; }

.column-center {
  margin: 0 auto;
  float: none !important; }

.header__menu {
  width: 100%;
  height: 50px;
  text-align: center;
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  padding-top: 54px; }
  .header__menu--scroll {
    padding: 15px 0;
    z-index: 10; }
  .header__menu__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 1px; }
    .header__menu__item--highlighted {
      font-weight: bold; }
    .header__menu__item a {
      color: #231f20;
      display: block;
      font-size: 10px ;
      font-size: 1rem ;
      padding: 0 19px;
      text-align: center; }
    .header__menu__item--lang a {
      color: #2e3192;
      border: 1px solid #2e3192;
      padding: 2px; }
    .header__menu__item--facebook img {
      width: 22px; }

/*Style 'show menu' label button and hide it by default*/
.show-menu {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #fff;
  background: #19c589;
  text-align: center;
  padding: 16px 0;
  display: none;
  width: 100% !important; }

/*Hide checkbox*/
input[type=checkbox] {
  display: none; }

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu {
  display: block;
  margin: 0 auto; }

/*Responsive Styles*/
@media screen and (max-width: 835px) {
  /*Make dropdown links appear inline*/
  .header ul {
    position: static;
    display: none;
    white-space: initial; }
  /*Create vertical spacing*/
  .header li {
    margin-bottom: 1px; }
  /*Make all menu links full width*/
  .header ul li, .header li a {
    width: 100%; }
  /*Display 'show menu' link*/
  .show-menu {
    display: block; } }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }
  .modal__click {
    cursor: pointer; }
  .modal__content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 90%; }
  .modal__close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold; }
    .modal__close:hover, .modal__close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer; }

h1 {
  font-family: "AleoBold", "Roboto Slab";
  font-size: 20px ;
  font-size: 2rem ;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0; }

p {
  margin-bottom: 10px;
  font-size: 10px ;
  font-size: 1rem ;
  line-height: 12px;
  line-height: 1.2rem; }

#why {
  margin-top: -355px;
  padding-top: 300px;
  margin-bottom: 100px; }
  #why h1 {
    text-align: left;
    margin-bottom: 30px; }

.first {
  text-align: center;
  margin-top: 40px; }
  .first__header {
    margin-top: 60px; }
  .first__content {
    margin-top: -24px; }
    .first__content h1 {
      height: 500px;
      line-height: 44px;
      background-color: #fff53a;
      padding-top: 62px;
      text-transform: none; }
  .first__footer {
    margin-top: -230px; }

#mission {
  background: #cbe2f6 url("../images/mission_header.png") repeat-x top center; }
  #mission .row {
    padding-top: 150px; }

#team {
  margin: 70px 0; }

#security {
  background: #fff53a url("../images/security_header.png") repeat-x top center;
  padding-top: 100px;
  padding-bottom: 150px; }
  #security ol {
    list-style-type: decimal; }
    #security ol li {
      margin-left: 15px;
      margin-bottom: 8px; }

#partners h1 {
  text-align: left; }

#partners .partner__item img {
  display: block;
  margin-bottom: 20px;
  margin-top: 60px; }

#partners .partner__item span {
  width: 150px;
  display: block; }

#offer .wrapper {
  position: relative; }

#offer .row.content {
  position: absolute;
  top: 0;
  width: 100%; }
  #offer .row.content div {
    padding-top: 300px;
    text-align: center; }
    #offer .row.content div h2 {
      font-size: 19px ;
      font-size: 1.9rem ;
      font-family: "AleoBold", "Roboto Slab";
      margin: 80px 0; }

#offer .offer__footer {
  height: 300px !important;
  margin: -3px 0; }

#for-parents .modal__content {
  position: relative; }
  #for-parents .modal__content > div {
    float: none; }

#for-parents .for__parents__header h1 {
  margin-top: 162px;
  text-align: left; }

#for-parents .for__parents__img {
  position: absolute;
  right: 0;
  top: 51px; }

#for-bussines .for__bussines__header {
  float: left; }
  #for-bussines .for__bussines__header h1 {
    text-align: left; }

#for-bussines .for__bussines__img {
  float: right;
  padding-right: 0;
  text-align: right; }
  #for-bussines .for__bussines__img--footer {
    float: none; }
  #for-bussines .for__bussines__img img {
    margin-right: -20px; }

#for-bussines .for__bussines__content {
  float: none; }

#english-nanny .wrapper {
  position: relative; }

#english-nanny .row {
  position: absolute;
  top: 0;
  width: 100%; }
  #english-nanny .row div {
    margin-top: -92px;
    padding-left: 67px; }

#price {
  background: #b0c6ea url("../images/price_header.png") repeat-x top center;
  padding-top: 100px;
  margin-top: 200px;
  padding-bottom: 150px; }
  #price .row {
    position: relative; }
  #price .price__item {
    font-size: 14.25px ;
    font-size: 1.425rem ;
    line-height: 30px; }
    #price .price__item span:first-child {
      float: left; }
    #price .price__item span:last-child {
      text-align: right;
      display: block; }
  #price .price__header {
    position: absolute; }
    #price .price__header--left {
      left: -150px;
      top: -100px; }
    #price .price__header--right {
      right: 10px;
      top: -66px; }
  #price small {
    font-size: 9px !important;
    font-size: 0.9rem !important; }

#carrier {
  margin: 300px 0; }
  #carrier h1 {
    text-align: left; }
  #carrier button {
    background-color: #2c3792;
    border-radius: 17px;
    font-size: 30px;
    padding: 4px 28px;
    color: #fff;
    margin-top: 20px; }
  #carrier .carrier__footer {
    height: 300px;
    background-color: #6bc62e;
    margin-top: -2px; }
  #carrier .row > div {
    padding-bottom: 0; }

#contact h1 {
  text-align: left; }

#contact .contact__footer {
  height: 200px;
  background-color: #40bb6a;
  margin-top: -96px; }

#contact .row > div {
  padding-bottom: 0; }

@media only screen and (min-width: 20em) {
  h1 {
    font-size: 15px ;
    font-size: 1.5rem ; } }

@media only screen and (min-width: 30em) {
  h1 {
    font-size: 20px ;
    font-size: 2rem ; } }
