/* Mobile */
@media #{$breakpointSmall} {
    .english-nanny {
        &__header {
            height: 100px !important;
            margin-bottom: -5px;
        }

        &__background {
            content:url("../images/english_nanny_background_mobile.png");
        }

        .wrapper {
            position: relative;
        }

        .row {
            position: absolute;
            top: 0;
            width: 100%;

            h1 {
                text-align: right;
                padding-right: 13px;
            }

            p {
                padding: 0 20px;
            }
        }

        @include disableVerticalAlign()
    }
}

/* Desktop */
@media #{$breakpointMedium} {
    .english-nanny {
        &__background {
            content:url("../images/english_nanny_background.png");
        }

        .row {
            div {
                padding-left: 67px;
                padding-top: 71px;
            }

            h1 {
                text-align: center;
                padding-right: 0;
            }
        }
    }
}