/* Mobile */
@media #{$breakpointSmall} {
    .first {
        text-align: center;

        &__header {
            margin-top: 60px;
        }

        &__content {
            margin-top: -24px;
            background-color: $yellow;
            height: 100%;

            h1 {
                @include rem(line-height, 2.750);
                padding-top: 62px;
                text-transform: none;
            }
        }

        .fp-scroller {
            height: 100%;
        }

        @include disableVerticalAlign()
    }
}