$missionMarginTop: 93px;

/* Mobile */
@media #{$breakpointSmall} {
    .mission {
        margin-top: -10px;
        background: $blueLigher url('../images/mission_header.png') repeat-x top center;

        &__img {
            margin-top: $missionMarginTop;
        }

        &__content {
            h1 {
                margin-top: 0;
            }
        }
    }
}

/* Desktop */
@media #{$breakpointMedium} {
    .mission {
        margin-top: 39px;

        &__content {
            margin-top: $missionMarginTop;
        }
    }
}