/* Mobile */
@media #{$breakpointSmall} {
    .offer {
        &__background__header {
            height: 68px;
            background-color: $greenDarker;
        }

        &__footer {
            height: 85%;

            img {
                height: 100% !important;
                margin: -4px 0;
            }
        }

        &.active {
            position: relative;
        }

        .fp-scroller {
            height: 100%;
        }

        .wrapper {
            height: 100%;
            position: relative;
        }

        .row {
            &.content {
                min-height: 500px;
                display: table;
                position: absolute;
                top: 0;
                width: 100%;

                div {
                    vertical-align: middle;
                    display: table-cell;
                    text-align: center;

                    button {
                        background-color: $blueLigher;
                        color: #000;

                        &:focus {
                            outline:0;
                        }
                    }

                    h1 {
                        @include rem(margin-bottom, 4);
                    }
                }
            }
        }
    }

    #for-parents {
        .for__parents {
            &__content {
                float: none;

                h1 {
                    margin-top: 70px;
                    text-align: left;
                }
            }

            &__img {
                float: right;
                margin-top: -349px;
                margin-right: -36px;
            }
        }
    }

    #for-bussines {
        .for__bussines {
            &__header {
                float: left;

                h1 {
                    text-align: left;
                }
            }

            &__img {
                float: right;
                padding-right: 0;
                text-align: right;

                &--footer {
                    float: none;
                }

                img {
                    margin-right: -20px;
                }
            }

            &__content {
                float: none;
            }
        }
    }

    #order {
        .modal__content {
            height: 540px;
        }

        .order {
            &__header {
                @include rem(padding, 0, 1);

                h1 {
                    margin-top: 0;
                    text-align: left;
                }
            }

            &__row {
            padding-bottom: 0.3rem;
                label, input, textarea {
                    border-radius: 18px;
                    display: inline-block;
                    width: 100%;
                }

                &.column-2 {
                    clear: both;
                }

                &.column-12  {
                    text-align: right;
                    @include rem(padding, 0, 1);

                    input {
                        background-color: $yellowDarker;
                        font-family: $fontRegular;
                        font-size: 16px;
                        width: 100px;
                        border-width: 0;
                    }
                }

                img {
                    padding-top: 10px;
                }

                label {
                    background-color: $yellowDarker;
                    text-align: center;
                    padding: 7px 0;
                }

                input, textarea {
                    outline: none;
                    border-color: #000;
                    border-width: 1px;
                    padding: 6px 10px;
                }

                textarea {
                    height: 110px;
                    resize: none;
                }

            }
        }
    }
}

/* Desktop */
@media #{$breakpointMedium} {
    .offer {
        &__background__header {
            height: 250px;
        }
    }
}