/* Mobile */
@media #{$breakpointSmall} {
    .offer {
        &__background__header {
            height: 68px;
            background-color: $greenDarker;
        }

        &__footer {
            height: 85%;

            img {
                height: 100% !important;
                margin: -4px 0;
            }
        }

        &.active {
            position: relative;
        }

        .fp-scroller {
            height: 100%;
        }

        .wrapper {
            height: 100%;
            position: relative;
        }

        .row {
            &.content {
                min-height: 500px;
                display: table;
                position: absolute;
                top: 0;
                width: 100%;

                div {
                    vertical-align: middle;
                    display: table-cell;
                    text-align: center;

                    h2 {
                        @include rem(font-size, 1.9);
                        font-family: $fontBold;
                    }

                    h1, h2 {
                        @include rem(margin-bottom, 4);
                    }
                }
            }
        }
    }

    #for-parents {
        .for__parents {
            &__content {
                float: none;

                h1 {
                    margin-top: 70px;
                    text-align: left;
                }
            }

            &__img {
                float: right;
                margin-top: -349px;
                margin-right: -36px;
            }
        }
    }

    #for-bussines {
        .for__bussines {
            &__header {
                float: left;

                h1 {
                    text-align: left;
                }
            }

            &__img {
                float: right;
                padding-right: 0;
                text-align: right;

                &--footer {
                    float: none;
                }

                img {
                    margin-right: -20px;
                }
            }

            &__content {
                float: none;
            }
        }
    }
}

/* Desktop */
@media #{$breakpointMedium} {
    .offer {
        &__background__header {
            height: 250px;
        }
    }
}