/* Mobile */
@media #{$breakpointSmall} {
    .partners {
        padding-bottom: 10%;
        margin-top: 10px;

        h1 {
            text-align: center;
        }

        &__item {
            img {
                display: block;
                margin-bottom: 20px;
                margin-top: 60px;
            }

            span {
                width: 150px;
                display: block;
            }
        }
    }
}

/* Desktop */
@media #{$breakpointMedium} {
    .partners {
        h1 {
            text-align: left;
        }
    }
}