#partners {
    padding-bottom: 10%;
    margin-top: 10px;

    h1 {
        text-align: left;
    }

    .partner__item {
        img {
            display: block;
            margin-bottom: 20px;
            margin-top: 60px;
        }

        span {
            width: 150px;
            display: block;
        }
    }
}