/* Mobile */
@media #{$breakpointSmall} {
    .team {
        width: 50%;
        margin: 0 auto;

        p {
            margin-bottom: 10px;
            @include rem(line-height, 1.2)
        }
    }
}
