/* Mobile */
@media #{$breakpointSmall} {
    .why {
        background: #fff;
        @include disableVerticalAlign()

        &__content {
            h1 {
                @include rem(font-size, 1.2);
                margin-top: -10px;
                margin-bottom: 20px;
            }

            ul {
                @include rem(line-height, 1.450);
            }
        }
    }
}

/* Desktop */
@media #{$breakpointMedium} {
    .why {
        &__header {
            margin-top: 0px;
        }

        &__content {
            @include desktopParagraph()

            h1 {
                margin-top: -30px;
            }
        }
    }
}

/* More than image header width */
$whyHeaderWidth: 1094px;
@media only screen and (min-width: $whyHeaderWidth) {
    .why {
        text-align: center;
        position: relative;

        &__background {
            width: 100%;
            height: 250px;
            background-color: $yellow;
        }

        &__content {
            h1, ul {
                text-align: left;
            }
        }

        &__header {
            margin-top: -209px;
        }
    }
}